/Fundaments Programming 02/nbproject/private/
/Fundaments Programming 02/build/
/WorksShop/WS03operators/OPerators/nbproject/private/
/WorksShop/WS03operators/BasicOperations/nbproject/private/
/WorksShop/WS03operators/BasicOperations/build/
/WorksShop/Unit one/WS03operators/BasicOpererations/nbproject/private/
/WorksShop/Unit one/WS03operators/BasicOperators/nbproject/private/
/WorksShop/Unit one/WS03operators/BasicOperators/build/
/Assigments/HW02/Analytic Geometry Excersice/nbproject/private/
/Assigments/HW02/Analytic Geometry Excersice/build/
/Assigments/HW02/Excersice_01_Alytic_Geoemtry/nbproject/private/
/Assigments/HW02/Excersice_01_Analytic_Geometry/nbproject/private/
/Assigments/HW02/Excersice_01_Analytic_Geometry/build/
/Assigments/HW02/Excersice_02_Chemestry/nbproject/private/
/Assigments/HW02/Excersice_02_Chemestry/build/
/Assigments/HW02/Excersice_03_Chemestry/nbproject/private/
/Assigments/HW02/Excersice_03_Chemestry/build/
/WorkShop/Unit_one/WS04/Logical_Operators/nbproject/private/
/WorkShop/Unit_one/WS04/Logical_Operators/build/
/WorkShop/Unit_one/WS05/Iterations/nbproject/private/
/WorkShop/Unit_one/WS05/Iterations/build/
/Assigments/HW03/Iterations/nbproject/private/
/Assigments/HW03/Iterations/build/
/WorkShop/Unit_one/WS07/Menu/nbproject/private/
/WorkShop/Unit_one/WS07/Menu/build/
/Assigments/HW04/Switch_case/nbproject/private/
/Assigments/HW04/Switch_case/build/
/Evaluations/Q1.1/Escobar _Paul _Q11.java/nbproject/private/
/Evaluations/Q1.1/Escobar _Paul _Q11.java/build/
/Evaluations/Exam1/Escobar _Paul _Q11.java/build/
/Evaluations/Exam1/Escobar _Paul _Q11.java/nbproject/private/
/Evaluations/Exam1/Escobar _Paul _Q11.java/EscobarPaul_Q11/nbproject/private/
/Evaluations/Exam1/Escobar _Paul _Q11.java/EscobarPaul_Q11/build/
/Evaluations/Exam1/Unit one/EscobarPaul_Q11/build/
/Evaluations/Exam1/Unit one/EscobarPaul_Q11/nbproject/private/
/Evaluations/Exam1/Unit one/build/
/Evaluations/Exam1/Unit one/nbproject/private/
/Evaluations/Unit_one/Exam1/EscobarPaul_Q11/nbproject/private/
/Evaluations/Unit_one/Exam1/EscobarPaul_Q11/build/
/Correction/nbproject/private/
/Correction/build/
/New Folder/JavaApplication35/nbproject/private/
/New Folder/JavaApplication35/build/
/WorkShop/Unit_two/WS08/Correction01/nbproject/private/
/WorkShop/Unit_two/WS08/Correction01/build/
/Assigments/Unit_two/HW05_FACTORIALS/nbproject/private/
/Assigments/Unit_two/HW05/Factorials/nbproject/private/
/Assigments/Unit_two/HW05/Factorials/build/
/Assigments/Unit_two/HW08/Factorials/build/
/Assigments/Unit_two/HW08/Factorials/nbproject/private/
/Assigments/Unit_two/HW09/Embedded_Structures/nbproject/private/
/Assigments/Unit_two/HW09/Embedded_Structures/build/
/WorkShop/Unit_two/WS09/Functions/nbproject/private/
/Assigments/Unit_two/HW10/Functions/nbproject/private/
/Assigments/Unit_two/HW10/Functions/build/
/Assigments/Unit_two/HW11/Recursion/nbproject/private/
/Assigments/Unit_two/HW11/Recursion/build/
/WorkShop/Unit_two/WS12_Libraries/nbproject/private/
/WorkShop/Unit_two/WS12_Libraries/build/
/Assigments/Unit_two/HW12_TAXES/nbproject/private/
/Assigments/Unit_two/HW12_TAXES/build/
/WorkShop/Unit_two/WS13_TASKS/nbproject/private/
/WorkShop/Unit_two/WS13_TASKS/build/
/WorkShop/Unit_two/WS14_Arrays/nbproject/private/
/WorkShop/Unit_two/WS14_Arrays/build/
/Assigments/Unit_two/HW13_Arrays/nbproject/private/
/Assigments/Unit_two/HW13_Arrays/build/
/Quizes_Arrays/nbproject/private/
/Quizes_Arrays/build/
/WorkShop/Unit_two/WS15_Q01SOLUTION_02222021/nbproject/private/
/Quizes_Arrays/WS15_Q01SOLUTION_02222021/nbproject/private/
/WorkShop/Unit_two/WS16_MatrixAdition/nbproject/private/
/WorkShop/Unit_two/WS16_MatrixAdition/build/
/Assigments/Unit_two/HW15_MatrixMultiplication/nbproject/private/
/Assigments/Unit_two/HW15_MatrixMultiplication/build/
/WorkShop/Unit_two/WS17_MATRIXOPERATION/nbproject/private/
/WorkShop/Unit_two/WS17_MATRIXOPERATION/build/
/WorkShop/Unit_two/WS17_MATRIXOPERATION/dist/
/Assigments/Unit_two/HW16_FunctionsMatrix/nbproject/private/
/Assigments/Unit_two/HW16_FunctionsMatrix/build/
/Assigments/Unit_two/HW16_MatrixFunctions/nbproject/private/
/G4CartograhyHelpByTheGPS/nbproject/private/
/G4Cartography/nbproject/private/
/EscobarP.Q11/nbproject/private/
/EscobarP.Q11/build/
/WorkShop/New Folder/WS19_Arraysinspenction/nbproject/private/
/WorkShop/New Folder/WS19_Arraysinspenction/build/
/WorkShop/Unit_Three/WS19_GuairacajaKevinExam2/nbproject/private/
/WorkShop/Unit_Three/WS19_GuairacajaKevinExam2/build/
/WorkShop/Unit_two/WS13_TASKS/dist/
/Assigments/Unit_two/HW12_TAXES/dist/
/Assigments/Unit_two/HW13_Arrays/dist/
/WorkShop/Unit_Three/WS21_Printers/nbproject/private/
/WorkShop/Unit_Three/WS21_Ranges/nbproject/private/
/WorkShop/Unit_Three/WS21_Ranges/build/
/WorkShop/Unit_Three/WS21_Ranges/dist/
/WorkShop/Unit_Three/WS21_Functions/nbproject/private/
/WorkShop/Unit_Three/WS21_Functions/build/
/WorkShop/Unit_Three/WS21_Functions/dist/
/WorkShop/Unit_Three/ModularCalculator/nbproject/private/
/WorkShop/Unit_Three/ModularCalculator/build/
/WorkShop/Unit_Three/WS23_Libraries/nbproject/private/
/WorkShop/Unit_Three/TaxDeclaration/nbproject/private/
/WorkShop/Unit_Three/TaxLibrary/nbproject/private/
/WorkShop/Unit_Three/TaxLibrary/build/
/WorkShop/Unit_Three/TaxLibrary/dist/
/WorkShop/Unit_Three/WS22/ModularCalculate/nbproject/private/
/WorkShop/Unit_Three/WS23_Libraries/TaxDeclaration/nbproject/private/
/WorkShop/Unit_Three/WS23_Libraries/TaxLibrary/nbproject/private/
/WorkShop/Unit_Three/WS23_Libraries/TaxLibrary/build/
/WorkShop/Unit_Three/WS23_Libraries/TaxLibrary/dist/
/WorkShop/Unit_Three/WS22/ModularCalculate/build/
/Assigments/Unit_three/HW17_Function/nbproject/private/
/Assigments/Unit_three/HW17_Function/build/
/Assigments/Unit_three/HW17_Function/Function_Library/nbproject/private/
/Assigments/Unit_three/HW17_Function/Function_Library/build/
/Assigments/Unit_three/HW17_Function/Function_Library/dist/
/Assigments/Unit_three/HW17_Function/Function1Library/nbproject/private/
/Assigments/Unit_three/HW17_Function/Function1Library/build/
/Assigments/Unit_three/HW17_Function/Function1Library/dist/
/Assigments/Unit_three/HW17_Function/HW17_Operation/nbproject/private/
/Assigments/Unit_three/HW17_Operations/Array/nbproject/private/
/Assigments/Unit_three/HW17_Operations/Array_Library/nbproject/private/
/Assigments/Unit_three/HW17_Operations/Array_Library/build/
/Assigments/Unit_three/HW17_Operations/Array_Library/dist/
/Assigments/Unit_three/HW17_Operations/Array/build/
/Assigments/Unit_two/HW16_MatrixFunctions/build/
/Assigments/Unit_three/HW17_Operations/MatrixLibary/nbproject/private/
/Assigments/Unit_three/HW17_Operations/MatrixLibary/build/
/Assigments/Unit_three/HW17_Operations/MatrixLibary/dist/
/WorkShop/Unit_Three/New Folder/Sorting/nbproject/private/
/WorkShop/Unit_Three/New Folder/Sorting/build/
/WorkShop/Unit_Three/WS24/Sorting/nbproject/private/
/Assigments/Unit_three/HW18_Sorting/nbproject/private/
/Assigments/Unit_three/HW18_Sorting/build/
/WorkShop/Unit_Three/WS25_RousseauBooks/nbproject/private/
/WorkShop/Unit_Three/WS25/nbproject/private/
/WorkShop/Unit_Three/WS25/build
/WorkShop/Unit_Three/WS25 RousseauBooks/nbproject/private/
/WorkShop/Unit_Three/ws25_Name'sBooks/nbproject/private/
/WorkShop/Unit_Three/Name´sBook/nbproject/private/
/WorkShop/Unit_Three/WS25_OperationswithStrings/Name'sBook/nbproject/private/
/WorkShop/Unit_Three/New Folder/NameBook/nbproject/private/
/WorkShop/Unit_Three/New Folder/NameBook/build/
/Assigments/Unit_three/New Folder/JavaApplication88/nbproject/private/
/Assigments/Unit_three/New Folder/JavaApplication88/build/
/WorkShop/Unit_Three/WS24/Sorting/build/
/WorkShop/Unit_Three/New Folder/OperationSorting/nbproject/private/
/Assigments/Unit_three/New Folder/OperationSorting/nbproject/private/
/Assigments/Unit_three/New Folder/OperationSorting/build/
/WorkShop/Unit_Three/New Folder (2)/SortingIntegers/nbproject/private/
/WorkShop/Unit_Three/New Folder (2)/SortingIntegers/build/
/WorkShop/Unit_Three/WS25/SortingIntegers/nbproject/private/
/WorkShop/Unit_Three/WS25/SortingIntegers/build/
/WorkShop/Unit_Three/WS25/SortingIntegers/dist/
/Assigments/Unit_three/HW21 Sorter/OperationSorting/build/
/Assigments/Unit_three/HW21 Sorter/OperationSorting/nbproject/private/
/Assigments/Unit_three/New Folder/StringArray/nbproject/private/
/Assigments/Unit_three/New Folder/StringArray/build/
/Assigments/Unit_three/New Folder/StringArray/dist/
