/Fundaments Programming 02/nbproject/private/
/Fundaments Programming 02/build/
/WorksShop/WS03operators/OPerators/nbproject/private/
/WorksShop/WS03operators/BasicOperations/nbproject/private/
/WorksShop/WS03operators/BasicOperations/build/
/WorksShop/Unit one/WS03operators/BasicOpererations/nbproject/private/
/WorksShop/Unit one/WS03operators/BasicOperators/nbproject/private/
/WorksShop/Unit one/WS03operators/BasicOperators/build/
/Assigments/HW02/Analytic Geometry Excersice/nbproject/private/
/Assigments/HW02/Analytic Geometry Excersice/build/
/Assigments/HW02/Excersice_01_Alytic_Geoemtry/nbproject/private/
/Assigments/HW02/Excersice_01_Analytic_Geometry/nbproject/private/
/Assigments/HW02/Excersice_01_Analytic_Geometry/build/
/Assigments/HW02/Excersice_02_Chemestry/nbproject/private/
/Assigments/HW02/Excersice_02_Chemestry/build/
/Assigments/HW02/Excersice_03_Chemestry/nbproject/private/
/Assigments/HW02/Excersice_03_Chemestry/build/
/WorkShop/Unit_one/WS04/Logical_Operators/nbproject/private/
/WorkShop/Unit_one/WS04/Logical_Operators/build/
/WorkShop/Unit_one/WS05/Iterations/nbproject/private/
/WorkShop/Unit_one/WS05/Iterations/build/
/Assigments/HW03/Iterations/nbproject/private/
/Assigments/HW03/Iterations/build/
/WorkShop/Unit_one/WS07/Menu/nbproject/private/
/WorkShop/Unit_one/WS07/Menu/build/
/Assigments/HW04/Switch_case/nbproject/private/
/Assigments/HW04/Switch_case/build/
/Evaluations/Q1.1/Escobar _Paul _Q11.java/nbproject/private/
/Evaluations/Q1.1/Escobar _Paul _Q11.java/build/
/Evaluations/Exam1/Escobar _Paul _Q11.java/build/
/Evaluations/Exam1/Escobar _Paul _Q11.java/nbproject/private/
/Evaluations/Exam1/Escobar _Paul _Q11.java/EscobarPaul_Q11/nbproject/private/
/Evaluations/Exam1/Escobar _Paul _Q11.java/EscobarPaul_Q11/build/
/Evaluations/Exam1/Unit one/EscobarPaul_Q11/build/
/Evaluations/Exam1/Unit one/EscobarPaul_Q11/nbproject/private/
/Evaluations/Exam1/Unit one/build/
/Evaluations/Exam1/Unit one/nbproject/private/
/Evaluations/Unit_one/Exam1/EscobarPaul_Q11/nbproject/private/
/Evaluations/Unit_one/Exam1/EscobarPaul_Q11/build/
/Correction/nbproject/private/
/Correction/build/
/New Folder/JavaApplication35/nbproject/private/
/New Folder/JavaApplication35/build/
/WorkShop/Unit_two/WS08/Correction01/nbproject/private/
/WorkShop/Unit_two/WS08/Correction01/build/
/Assigments/Unit_two/HW05_FACTORIALS/nbproject/private/
/Assigments/Unit_two/HW05/Factorials/nbproject/private/
/Assigments/Unit_two/HW05/Factorials/build/
/Assigments/Unit_two/HW08/Factorials/build/
/Assigments/Unit_two/HW08/Factorials/nbproject/private/
/Assigments/Unit_two/HW09/Embedded_Structures/nbproject/private/
/Assigments/Unit_two/HW09/Embedded_Structures/build/
/WorkShop/Unit_two/WS09/Functions/nbproject/private/
/Assigments/Unit_two/HW10/Functions/nbproject/private/
/Assigments/Unit_two/HW10/Functions/build/
