/Fundaments Programming 02/nbproject/private/
/Fundaments Programming 02/build/
/WorksShop/WS03operators/OPerators/nbproject/private/
/WorksShop/WS03operators/BasicOperations/nbproject/private/
/WorksShop/WS03operators/BasicOperations/build/
/WorksShop/Unit one/WS03operators/BasicOpererations/nbproject/private/
/WorksShop/Unit one/WS03operators/BasicOperators/nbproject/private/
/WorksShop/Unit one/WS03operators/BasicOperators/build/
/Assigments/HW02/Analytic Geometry Excersice/nbproject/private/
/Assigments/HW02/Analytic Geometry Excersice/build/
/Assigments/HW02/Excersice_01_Alytic_Geoemtry/nbproject/private/
/Assigments/HW02/Excersice_01_Analytic_Geometry/nbproject/private/
/Assigments/HW02/Excersice_01_Analytic_Geometry/build/
/Assigments/HW02/Excersice_02_Chemestry/nbproject/private/
/Assigments/HW02/Excersice_02_Chemestry/build/
/Assigments/HW02/Excersice_03_Chemestry/nbproject/private/
/Assigments/HW02/Excersice_03_Chemestry/build/
